services:
  backend:
    image: noeyos/easyquality-backend:latest
    ports:
      - "8000:8000"
    env_file:
      - .env.prod
    depends_on:
      - onlyoffice
    restart: unless-stopped

  frontend:
    image: noeyos/easyquality-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped

  onlyoffice:
    image: onlyoffice/documentserver:latest
    ports:
      - "8080:80"
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=a39fhkalsdf92sdfl23jsfag9gkqmnd
    volumes:
      - onlyoffice_data:/var/www/onlyoffice/Data
      - onlyoffice_logs:/var/log/onlyoffice
    restart: unless-stopped

volumes:
  onlyoffice_data:
  onlyoffice_logs:
